body {
  background-color: #010165;
  margin: 0px;
  font-family: 'Work Sans', sans-serif;
}
#head {
  background: #00ccff;
  text-align: center;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ccebff;
}
#instructions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #0099ff;
  margin: 30px 0 0 0;
}
#instructions h3 {
  margin: 0 20px 0 20px;
}
ol {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
}
li {
  display: block;
  margin-bottom: .5em;
  margin-left: 2em;
}
li::before {
  display: inline-block;
  content: counter(item);
  counter-increment: item;
  width: 2em;
  margin-left: -2em;
  font-size: 2.5em;
}
#content {
  width: 400px;
}
.game {
  margin: 0 15px 0 15px;
}
#info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 75px;
  color: #202060;
  width: 185px;
  margin-top: 10px;
}
#info:hover {
  cursor: pointer;
}
#score {
  display: flex;
  flex-direction: row;
}
.streak {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 0 20px;
}
.score-streak {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00ccff;
  color: black;
  font-size: 3em;
  width: 100px;
  height: 100px;
}
